{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^[a-z].*$",
    "^@[^/]+/.+$",
    "@/prisma/(.*)$",
    "@/types/(.*)$",
    "@/config/(.*)$",
    "@/utils/(.*)$",
    "@/hooks/(.*)$",
    "@/services/(.*)$",
    "@/providers/(.*)$",
    "@/components/(.*)$",
    "^[../]",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
